@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/login.css" />
}
<div class="container pb-0" >
    <div id="logreg-forms" class="bg-white" style="border-radius: .75rem">
        <form class="form-signin bg-white" style="border-radius:.75rem" asp-action="Login" method="post">
            <h1 class="h2 font-weight-normal" style="text-align: center"> Sign in</h1>
            <hr>
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Username" type="text" id="inputUsername" class="form-control" placeholder="Usename" autofocus="">
            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password">
            <div class="text-center">
                    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            </div>        
            <hr>
            <a asp-action="Register" class="btn btn-primary btn-block text-white" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Create New Account</a>
        </form>
    </div>
</div>