
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>

<div class="card-deck">
    <div class="card">        
        <div class="card-body">
            <h5 class="card-title">Users</h5>            
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Books</h5>
        </div>
    </div> <div class="card">
        <div class="card-body">
            <h5 class="card-title">Loans</h5>
        </div> 
    </div>
</div>