@model IEnumerable<LibraryManagement.Models.Entity.Book>

@{
    ViewData["Title"] = "Home";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/homepage.css" />
}

<div align="center" style="white-space:nowrap">      
    <h2 style="display:inline; white-space:nowrap;"><b>Open Library</b></h2>
</div>
   
<section class="container py-5">    
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4  w-75 h-100 shadow bg-white" style="border-radius: .75rem">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="card col m-2 bg-white shadow d-flex justify-content-center text-center" style="border-radius: .75rem">                
                    <!-- Product image-->
                    <div class="card-img-top pt-2 justify-content-center">
                        @{
                            var base64 = Convert.ToBase64String(item.ImageContent);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img class="w-50" src="@imgSrc" alt="item.ImageAlt" />
                    </div>

                    <!-- Product details-->
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
                            @Html.DisplayFor(modelItem => item.Author)
                        </div>
                    </div>                
                </div>
            </a>
        }          
    </div>    
</section>